{
    "--block-disk": "/dev/oracleoci/oraclevdb",
    "--block-path": "/u01/app/oracle/product",
    "--conf": "/u01/app/ioco/conf.json",
    "--cust-yaml": "/u01/app/ioco/dpk/psft_customizations.yaml",
    "--dpk-patch": null,
    "--dpk-platform": "linux",
    "--dpk-source": "CM",
    "--dpk-type": null,
    "--dpk-version": null,
    "--example-path": "/u01/app/ioco/examples",
    "--export": "/cmfiles",
    "--firewall-pia": null,
    "--force": null,
    "--get-dpk": null,
    "--help": null,
    "--home": "/u01/app/ioco",
    "--install-packages": null,
    "--logs": "/u01/app/ioco/logs",
    "--make-file-system": null,
    "--mount": null,
    "--mount-path": "/cm_psft_dpks",
    "--nfs-host": "cmfiles.mgmt.io.oraclevcn.com",
    "--persist-cm-mount": false,
    "--quiet": null,
    "--secret-id": null,
    "--setup-dpk": null,
    "--setup-file-system": null,
    "--verbose": null,
    "access_pwd": "SYSADM",
    "admin_pwd": "Passw0rd_",
    "attach-dpk-files": null,
    "block": null,
    "cm": null,
    "cm_dpk_files_dir": "/cm_psft_dpks",
    "connect_pwd": "peop1e",
    "db_host": "localhost",
    "db_name": "PSFTDB",
    "db_service_name": "PSFTDB",
    "deploy": null,
    "download_threads": 5,
    "dpk": null,
    "dpk_deploy_dir": "/u01/app/oracle/product/dpk",
    "dpk_files_dir": "/u01/app/ioco/dpk",
    "gw_keystore_pwd": "password",
    "gw_user_pwd": "password",
    "install": null,
    "mainlog": "ioco.log",
    "oci": null,
    "opr_id": "PS",
    "opr_pwd": "PS",
    "patch_id": null,
    "pia_port": "8000",
    "db_port": "1521",
    "ps_cfg_dir": "/u01/app/oracle/product/hostname/ps_cfg_home",
    "psft_base_dir": "/u01/app/oracle/product",
    "read": null,
    "rundeck": null,
    "undeploy": null,
    "user_home_dir": "/home",
    "vault": null,
    "weblogic_admin_pwd": "Passw0rd#",
    "webprofile_user_pwd": "PTWEBSERVER"
}